body {
    padding-top: 50px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default {
    background-color: #2e343d;
    border: 0;
}

.normal-block {
    background-color: #EAE6E6;
    color: #2e343d;
    padding-bottom: 40px;
}

.inverse-block {
    background-color: #656E7B;
    color: #EAE6E6;
    padding-bottom: 40px;
}

.end-block {
    background-color: #2e343d;
    color: #EAE6E6;
    padding-bottom: 40px;
}

/* Fix alignment when height is not 100% */
.image {
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    max-height: 500px;
}

.heavy {
    font-weight: bold;
}

.light {
    font-weight: thin;
}

.text-hcenter {
    text-align: center;
}

.text-vcenter {
    padding-top: 60px;
}

.inverse-block h5 {
    font-style: italic;
    color: #B6B5B5;
}

.normal-block h5 {
    font-style: italic;
    color: #656E7B;
}

.normal-block .progress {
    background-color: #D5D5D5;
}

.normal-block .progress-bar {
    background-color: #6F7379;
}

h1 {
    font-size: 50px;
    
    font-weight: bold;
}

h2 {
    color: #656E7B;
}

a i {
    padding-right: 10px;
}

#header a {
    color: #EAE6E6;
}

#header a:hover {
    color: #B6B5B5;
}

#about p {
    font-size: 18px;
}

#contact a {
    margin-right: 25px;
    color: #EAE6E6;
}

#contact a:hover {
    text-decoration: none;
    color: #B6B5B5;
}

#portfolio a {
    margin-right: 10px;
}
